<div class="mainCardDiv">
    <div class="league-title">Champions League</div>
    <div class="teams">
        <div class="team">
            <img src="https://media.api-sports.io/football/teams/569.png" class="imgTeamLogo">
            <div class="team-name">Club Brugge</div>
        </div>
        <div class="versus">-</div>
        <div class="team">
            <img src="https://media.api-sports.io/football/teams/66.png" class="imgTeamLogo">
            <div class="team-name">Aston Villa</div>
        </div>
    </div>
    <div class="bet-options">
        <button class="bet-button">1</button>
        <button class="bet-button">X</button>
        <button class="bet-button">2</button>
    </div>
</div>
